<div class="wrap">
<button class="btn" (click)="animate()">Animate</button>
<button class="btn" (click)="boxState = 'special'">Set Special State</button>
  <button (click)="visible = !visible">Toggle Visibility</button>
  <hr>

  <app-animate></app-animate>

<!--  <div-->
<!--    class="box"-->
<!--    *ngIf="visible"-->
<!--    [@boxAnim] = 'boxState'-->
<!--    (@boxAnim.start)="animateStart($event)"-->
<!--    (@boxAnim.done)="animateDone($event)"-->
<!--  ><h4>{{ boxState | uppercase}}</h4></div>-->
</div>
